<html>
  <head>
    <title>CV Data Upload</title>
  </head>
  <body>
    <h1>Upload and Process CV Data</h1>
    <input type="file" accept=".zip" id="fileInput" />
    <button onclick="handleFileUploadAndProcess()">Start</button>

    <script>
      import { generateCV } from '../services/pdf/pdfGenerator';
      import { parseCSV, transformData } from '../services/data/transformationService';
      import JSZip from 'jszip';
import type { RawData } from '@/models/types';

      // Function to handle file upload and processing
      async function handleFileUploadAndProcess() {
        console.log('Handling file upload');
        const fileInput = document.getElementById('fileInput') as HTMLInputElement;
        const file = fileInput.files[0];
        if (!file) {
          console.error('No file selected');
          return;
        }

        try {
          const zip = new JSZip();
          const zipContent = await zip.loadAsync(file);
          const rawData : RawData = {};

          for (const fileName of Object.keys(zipContent.files)) {
            console.log('Processing file:', fileName);
            if (fileName.endsWith('.csv')) {
              const fileData = await zipContent.files[fileName].async('text');
              const baseName = fileName.split('/').pop(); // Remove any directory path
              rawData[baseName] = parseCSV(fileData);
            } else if (fileName.endsWith('.jpg') || fileName.endsWith('.png')) {
              const imageData = await zipContent.files[fileName].async('base64');
              rawData.image = `data:image/jpeg;base64,${imageData}`;
            }
          }

          console.log('Raw data processed:', rawData);
          const transformedData = transformData(rawData);
          console.log('Transformed data:', transformedData);
          
          await generateCV(transformedData);
        } catch (error) {
          console.error('Error processing data:', error);
        }
      }

      // Make the function available to the onclick handler
      window.handleFileUploadAndProcess = handleFileUploadAndProcess;
    </script>
  </body>
</html>
